body {
    background-image: url('../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container {
  color: white;
  text-align: center;
}
h1 {
    font-size: 40px;  
    font-family: Arial, sans-serif; 
    font-weight: bold;  
    color: white; 
}
h5 {  
    font-family: Arial, sans-serif; 
    font-weight: bold;  
    color: white; 
}

.accordion-button-custom {
    background-color: #212529;   
    color: #ffffff;
    border-radius: 10px;
    padding: 15px; 
    border: none; 
}

.accordion-button-custom img {
    margin-right: 10px; 
}

.accordion-button-custom:hover {
    background-color: #0e1e30; 
}


.accordion-body {
    border-radius: 10px; 
    padding: 15px; 
    background-color: #dddddd; 
    color: #000000;
}

.poker-card {
    width: 250px; 
    height: 350px;
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #212529;
    border-color: #212529;
    color: white;
}

.poker-img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
}

.placeholder-glow {
    border-radius: 10px; 
}